bin
lib
include

# Python
*.pyc
/__pycache__/

# setuptools / distribute
/*.egg-info/
/*.egg/
/build/
/dist/

# tox
.tox

# pip
pip-selfcheck.json

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
